{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
				<link href="css/addmoney.css" rel="stylesheet" />

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
       
        <title><h1>My Wallet</h1></title>
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'addmoney.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    
    <body class="bg-primary">
      
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container2">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">My Wallet</h3></div>
                                    <table><form method="post" action="{% url 'addmoney_update' addmoney_info.id %}">
                                    {% csrf_token %}
                                    <tr><th>  Edit <br></th>
                    <th>
                  <div class="form-check">
                  <div>
											
                   <select class="form-check-input" name="add_money" id="add_money" required><br>
                    <option >Select category</option></select></div></label>
                    

                  </select><br>
                                        </div></th></tr><br>

                                        <tr><th>

                                        <div>
                                          <div class="f1">
                                            <div class="f1">
                                              <br>
                                              Select category-<br></th>
                                          <th><select class="Category" name="Category" id="income_X" required><br>
                                            
                                        </select></th><br>
                                                              </div></tr>
                  
																	<!--<form class="r1" method="post" action="\addmoney_submission\">
                                  {% csrf_token %}
	What you want to add?<br>
  <input type="radio" name="add_money" value="Expense">
  <label for="Expense">Expense</label>
  <input type="radio" name="add_money" value="Income">
  <label for="Income">Income</label><br>-->
  <br><tr><th><label for="quantity">
    Amount</th>
  <th><input type="number" name="quantity" value="{{addmoney_info.quantity}}"required></th>
</label></tr><br>
  <tr><th><label>
     Date</th>
    <th><input type="date" name="Date" value="{{addmoney_info.Date}}"></th>
  </label></tr>
  
  <tr><th colspan="2"><br><center><button type="submit" class="b2"> Save </button></center></th></tr>
	<!--<input type="button" class="b2"  onclick="location.href='/addmoney'" value="submit!">-->

																	</div>
											
													</div>
											</div></div></main></div></div></form></table>
                      <script>
                        let Categoris = ["Expense","Income"];
                        let expense = ["Food",  "Travel", "healthcare", "Shopping","Others"];
                        let income = ["bonus", "house rent", "others"];
                         
                        let Expense_X = document.getElementById("add_money"); 
                        let income_X = document.getElementById("income_X");
                        
                        Categoris.forEach(function addCategoris(item){
                          let option = document.createElement("option");
                          option.text = item;
                          option.value = item;
                          Expense_X.appendChild(option);
                        }
                        );
                  
                        Expense_X.onchange = function ()
                        {
                                  income_X.innerHTML = "<option></option>";
                          if (this.value == "Expense"){
                            addToincome_x(expense);
                          }
                          if (this.value == "Income"){
                            addToincome_x(income);
                          }
                        }
                        function addToincome_x(arr) {
                          arr.forEach(function (item) 
                          {
                            let option = document.createElement("option");	
                            option.text = item;
                              option.value = item;
                              income_X.appendChild(option);
                          })
                        }
                      </script>
    </body>
</html>